.home-title {
    font-size: 60px;
    margin: 100px 0 40px;
    text-align: center;
}
.container-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 770px;
    max-width: 1300px;
    margin: 0 auto 0;
}

body {
    background-color: #F8F8F8;
}

body::-webkit-scrollbar {
    display: none;
  }