.mainLog {
    
    height: 100vh;
    display: flex;
    margin-left: 20%;
    align-items: center;
}

.imgLog {
    position: absolute;
    left: 45%;
    top: 5%;
}

.grayLog {
    position: absolute;
    z-index: -999;
    height: 100vh;
    width: 40%;
    right: 0;
    background-color: rgb(37, 37, 37);
}

.quote {
    position: absolute;
    top: 15%;
    left: 20%;
}

.quote .upper-quote{
    font-size: 45px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', sans-serif ;
}
.quote .upper-quote .bold{
    font-size: 45px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', sans-serif ;
}
.quote .under-quote{
    font-size: 35px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: rgb(44, 44, 44);
    font-family: 'Segoe UI', sans-serif ;
    
}
@media screen and (max-width: 770px) {

    .quote {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        text-align: center !important;
       
        
    }

    .quote .under-quote {
        display: none;
    }
    
    .grayLog {
        display: none;
        

    }
    .imgLog {
        display: none;
    }

    #root {
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100vw;
    }
    
    .mainLog {
    
        height: inherit !important;
        display: flex;
        margin-left: 0 !important;
        margin-top: 10%;
        align-items: center;
    }


    /* .mainLog {
        width: 100%;
        height: 30%;
        display: flex;
        margin-left: 0;
        align-items: flex-start;
        justify-content: center;
        margin-left: 0;
    } */
}