.title-form {
    text-align: center;
    font-size: 55px;
    margin: 70px 0 0 ;
}

.log-container-form {
    padding: 10px;
    min-width: 500px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    
}


.log-container-form label {
    font-size: 20px;
}

.log-container-form input {
    border-color: #ffffff !important;
    border-bottom: solid 4px rgb(68, 67, 67) !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    background-color: transparent !important;
    margin-top: 20px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: rgb(68, 67, 67);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(68, 67, 67);
  }



input:focus, textarea:focus, select:focus{
    outline: none;
    color: rgb(68, 67, 67);
}



.log-container-form .log-btn {
    padding: 10px 15px ;
    width: 200px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 75px;
    border-radius: 10px;
    background-color: #8561FF;
    color: white;
    font-weight: 500;
    font-size: 25px;
    border: none;
}
.log-container-form .log-btn-alt {
    padding: 10px 15px ;
    width: 200px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 75px;
    border-radius: 10px;
    background-color: #F8F8F8;
    color: #8561FF;
    font-weight: 500;
    font-size: 25px;
    border: none;
    margin-right: 80px;
}

.title-login {
    color: rgb(68, 67, 67);

}

#btns-allign {
    display: flex;
    
    
}


@media screen and (max-width: 700px) {

    

    .log-container-form {
        min-width: 300px;
        max-width: 300px;
    }
    .log-container-form input {
        font-size: 20px;
    }
    .log-container-form .log-btn {
        font-size: 20px;
    }
    .log-container-form .log-btn-alt {
        font-size: 20px;
    }
    
}